{% extends "app/base.html" %}

{% block contents %}
<!-- timeline section-->
<section>
    <!-- もし投稿があれば一覧を表示する -->
    {% if post_list %}
    {% for post in post_list %}
    <div class="row p-10 text-left">
        <div class="col-10 offset-1">
            <div class="card">
                
                <img src="{{post.image.url}}" class="card-img" />
                <div class="card-body">
                    <div class="like_list">
                        <!-- ここにお気に入り機能を実装していく -->
                    </div>
                     <div class="card-hedder">
                        コメントする
                    </div>
                    
                    <!-- <div class=right><a href="(% url 'app:userdetail' post.username %)" class="text-dark">
                        <img src="{{ post.user.icon.url }}" class='test' >
                            {{post.user.username }}
                        </a>
                    </div>
                 -->
                    <div class="pt-2">
                        <small>
                            投稿時間{{ post.created_at|date:'Y-m-d H:i' }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row p-5">
        <div class="col-6 offset-3 text-center">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <p class="lead"><a href="{% url 'posts:new' %}">投稿</a>して他のユーザーに見つけてもらおう</p>
                </div>
            </div>
        </div>
        {% endif %}
</section>


<!-- ここにJSスクリプトを書いていく -->
<script>

</script>
{% endblock contents %}