{% extends "app/base.html" %} {% block contents %}
<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-4">
      <img
        class="col-md-12 rounded img-responsive rounded-circle"
        src=" {{user.icon.url}}"
      />
    </div>
    <div class="col-md-9">
      <h2>
        {{user.username}}
      </h2>

      {% if user.id == login_user.id %}
      <a href="{% url 'app:icon_edit' %}" 　>
        <button class="btn btn-primary">
          <i class="fas fa-cog"></i> アイコン編集する
        </button>
      </a>
      {% endif %}
    </div>
    #詳細ページで投稿した写真を一覧にしたい {% for photo in user.photo_set% }
  </div>
</div>

{% endblock %}
